---
layout: default
---
<article class="post">
	{% include post-heading.html post=page post_page=true %}

	<div class="project-body">
		{{ content }}
	</div>

	<h2>Context</h2>

	<div class="project-contents">
		<div class="tech-stack">
			<h4>Technical</h4>
			{{ page.project.tech_stack_markdown | markdownify }}
		</div>

		<div class="key-features">
			<h4>Project</h4>
			{{ page.project.key_features_markdown | markdownify }}
		</div>
	</div>

	<div class="cta">
		<h2>Keep exploring ...</h2>
		<p>More exiting prpjects where I have been working latetly</p>
		<div class="button"><a href="{{ site.baseurl }}/industries">More projects</a></div>
	</div>
	{% if site.disqus_shortname and page.comments %}
		<div id="disqus_thread"></div>
		<script>
			var disqus_shortname = '{{ site.disqus_shortname }}';
			var disqus_config = function () {
				this.page.url = "{{ page.url | prepend: site.url }}";
				this.page.identifier = "{{ page.id }}";
			};
			(function() {  // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	{% endif %}
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.imgPin.min.js"></script>
<script>
	$(function() {
		$('.post img').imgPin();

		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});
</script>
